{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>急性肝不全 予後予測AI</title>
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
</head>
<body>

    <div class="container">

        <h1 class="title">急性肝不全 予後予測AI</h1>
        <p class="subtitle">
            既存手法より高い精度と、極めて低い死亡見逃し率を達成した予測モデル
        </p>
        
        <form method="POST" action="{% url 'predict' %}" class="input-form">
        {% csrf_token %}

        <label>総ビリルビン（TB）<br><small>※ 小数点2桁まで入力可能</small></label>
        <input type="number" name="tb" step="0.01" min="0"
           placeholder="例：2.53" required>

        <label>肝萎縮（Liver Atrophy）</label>
        <select name="atrophy" class="large-select" required>
        <option value="yes">有</option>
        <option value="no">無</option>
        </select>

        <label>腹水（Ascites）</label>
        <select name="ascites" class="large-select" required>
        <option value="yes">有</option>
        <option value="no">無</option>
        </select>

        <label>DIC</label>
        <select name="dic" class="large-select" required>
        <option value="yes">有</option>
        <option value="no">無</option>
        </select>

        <label>合併症数（Number of Complications）<br><small>※ 整数のみ</small></label>
        <input type="number" name="complication" step="1" min="0"
           placeholder="例：0" required>

        <label>INR<br><small>※ 小数点2桁まで入力可能</small></label>
        <input type="number" name="inr" step="0.01" min="0"
           placeholder="例：1.53" required>

        <label>ALT<br><small>※ 整数のみ</small></label>
        <input type="number" name="alt" step="1" min="0"
           placeholder="例：1500" required>

        <label>赤血球（RBC）<br><small>※ 整数のみ</small></label>
        <input type="number" name="rbc" step="1" min="0"
           placeholder="例：450" required>

        <button type="submit" class="predict-btn">予測する</button>
        </form>

    </div>

</body>
</html>